In [1]:
import pandas as pd
from datetime import datetime, date, timedelta

In [2]:
length_in_days = 30

In [4]:
def date_range_list_generator(length_in_days):
    length_in_days_a = length_in_days
    # print(length_in_days_a)
    length_in_days_b = length_in_days_a + 1
    # print(length_in_days_b)
    end_date_a = date.today()
    # print('         Now: {0}'.format(datetime.now()))
    start_date_a = end_date_a - timedelta(days = length_in_days_a)
    end_date_b = date.today() - timedelta(days = 1)
    start_date_b = end_date_b - timedelta(days = length_in_days_b)
    # print('Start Date A: {0}'.format(start_date_a))
    # print('Start Date B: {0}'.format(start_date_b))
    # print('  End Date A: {0}'.format(end_date_a))
    # print('  End Date B: {0}'.format(end_date_b))
    date_list_a = pd.date_range(start_date_a, end_date_a).tolist()
    # print(date_list_a)
    date_list_b = pd.date_range(start_date_b, end_date_b).tolist()
    # print(date_list_b)
    date_list_b = date_list_b[1:]
    # print(date_list_b)
    date_list_a_clean = []
    for date_a in date_list_a:
        # print(date_a.strftime('%Y-%m-%d'))
        date_list_a_clean.append(date_a.strftime('%Y-%m-%d'))
    # print(date_list_a_clean)
    date_list_b_clean = []
    for date_b in date_list_b:
        # print(date_a.strftime('%Y-%m-%d'))
        date_list_b_clean.append(date_b.strftime('%Y-%m-%d'))
    # print(date_list_b_clean)
    date_range_df = pd.DataFrame({'start_date':date_list_b_clean, 'end_date':date_list_a_clean})
    # date_range_df = date_range_df.sort_values(by='start_date', ascending=False)
    date_range_df = date_range_df.sort_values(by='start_date', ascending=True)
    date_range_df.drop(date_range_df.tail(1).index,inplace=True) # Drop row for "today"
    return date_range_df

In [5]:
date_df = date_range_list_generator(length_in_days)
date_df

    start_date    end_date
0   2023-04-03  2023-04-04
1   2023-04-04  2023-04-05
2   2023-04-05  2023-04-06
3   2023-04-06  2023-04-07
4   2023-04-07  2023-04-08
5   2023-04-08  2023-04-09
6   2023-04-09  2023-04-10
7   2023-04-10  2023-04-11
8   2023-04-11  2023-04-12
9   2023-04-12  2023-04-13
10  2023-04-13  2023-04-14
11  2023-04-14  2023-04-15
12  2023-04-15  2023-04-16
13  2023-04-16  2023-04-17
14  2023-04-17  2023-04-18
15  2023-04-18  2023-04-19
16  2023-04-19  2023-04-20
17  2023-04-20  2023-04-21
18  2023-04-21  2023-04-22
19  2023-04-22  2023-04-23
20  2023-04-23  2023-04-24
21  2023-04-24  2023-04-25
22  2023-04-25  2023-04-26
23  2023-04-26  2023-04-27
24  2023-04-27  2023-04-28
25  2023-04-28  2023-04-29
26  2023-04-29  2023-04-30
27  2023-04-30  2023-05-01
28  2023-05-01  2023-05-02
29  2023-05-02  2023-05-03

In [6]:
data_df = pd.DataFrame()
for index, row in date_df.iterrows():
    start_date = row['start_date']
    end_date = row['end_date']
    print('Pulling data for {0} - {1}'.format(start_date, end_date))

#     # Import SQL Table to DataFrame
#     sql_query = """
#                 select ...
#                 from ...
#                 where ...
#                 group by ...
#                 order by ...
#                 """.format(start_date, end_date)
#     # print(sql_query)
    
#     df = spark.sql(sql_query).toPandas()
#     # print(df.head())
#     data_df = data_df.append(df, ignore_index = True)
#     # print(data_df.head())

data_df.head(10)

Pulling data for 2023-04-03 - 2023-04-04
Pulling data for 2023-04-04 - 2023-04-05
Pulling data for 2023-04-05 - 2023-04-06
Pulling data for 2023-04-06 - 2023-04-07
Pulling data for 2023-04-07 - 2023-04-08
Pulling data for 2023-04-08 - 2023-04-09
Pulling data for 2023-04-09 - 2023-04-10
Pulling data for 2023-04-10 - 2023-04-11
Pulling data for 2023-04-11 - 2023-04-12
Pulling data for 2023-04-12 - 2023-04-13
Pulling data for 2023-04-13 - 2023-04-14
Pulling data for 2023-04-14 - 2023-04-15
Pulling data for 2023-04-15 - 2023-04-16
Pulling data for 2023-04-16 - 2023-04-17
Pulling data for 2023-04-17 - 2023-04-18
Pulling data for 2023-04-18 - 2023-04-19
Pulling data for 2023-04-19 - 2023-04-20
Pulling data for 2023-04-20 - 2023-04-21
Pulling data for 2023-04-21 - 2023-04-22
Pulling data for 2023-04-22 - 2023-04-23
Pulling data for 2023-04-23 - 2023-04-24
Pulling data for 2023-04-24 - 2023-04-25
Pulling data for 2023-04-25 - 2023-04-26
Pulling data for 2023-04-26 - 2023-04-27
Pulling data for 2023-04-27 - 2023-04-28
Pulling data for 2023-04-28 - 2023-04-29
Pulling data for 2023-04-29 - 2023-04-30
Pulling data for 2023-04-30 - 2023-05-01
Pulling data for 2023-05-01 - 2023-05-02
Pulling data for 2023-05-02 - 2023-05-03

Empty DataFrame
Columns: []
Index: []